* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-1: #121212;
  --color-2: #03dac6;
  --color-3: #121212;
  --color-4: #1e1e1e;
  --color-5: #e0e0e0;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-4);
  color: var(--color-5);
  font-family: sans-serif;
  font-size: 1rem;
}

header {
  align-items: center;
  background-color: var(--color-1);
  column-gap: 1em;
  display: flex;
  height: 100px;
  left: 0;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
}

header img {
  width: 100px;
}

header h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding: 1em;
  row-gap: 2em;
  width: clamp(320px, 90%, 780px);
}

section {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

section:first-child {
  margin-top: 100px;
}

section h2 {
  font-weight: bold;
  font-size: 1.25rem;
}

table {
  border-collapse: collapse;
}

thead tr {
  background-color: var(--color-3);
}

th,
td {
  border: 1px solid white;
  line-height: 1.5;
  padding: 0.5em;
}

tbody td:first-child {
  color: var(--color-2);
}

tbody td:last-child {
  white-space: nowrap;
}

footer {
  align-items: center;
  background-color: var(--color-1);
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
